body {
    background-color: #2a921d;
    font-size: large;
    text-align: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #006440;
    height: 25vh;
}

.isiawal {
    color: #fcfcfc;
    margin-top: 5%;
}

.deskripsi {
    margin: 13%;
    color: #fcfcfc;
    text-align: justify;
}

.custom-text {
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fcfcfc;
    text-align: center;
    font-weight: bold;
    margin: auto;
}

